<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.software.hms.projeto">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScreanActivity"
            android:icon="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistreActivity"
            android:icon="@drawable/logocrzp"
            android:label="@string/cadastrese" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".MensagensActivity"
            android:icon="@drawable/logocrzp" />
        <activity
            android:name=".NoticiasActivity"
            android:icon="@drawable/logocrzp" />
        <activity
            android:name=".ProjetoActivity"
            android:icon="@drawable/logocrzp" />
        <activity
            android:name=".CartaoAmigoActivity"
            android:icon="@drawable/logocrzp"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AmigoActivity"
            android:icon="@drawable/logocrzp" />
        <activity
            android:name=".RedeDescontosActivity"
            android:icon="@drawable/logocrzp" />
        <activity
            android:name=".DetalheMsgActivity"
            android:icon="@drawable/logocrzp" />
        <activity
            android:name=".RedeDetalheActivity"
            android:icon="@drawable/logocrzp" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".PerfilActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CardActivity" />
        <activity
            android:name=".FormaPagamentoActivity"
            android:label="@string/formapagamento" />
        <activity
            android:name=".ValorDoacaoActivity"
            android:label="@string/valordoacao" />
        <activity android:name=".AprovadoActivity"></activity>
    </application>

</manifest>